{% load app_tags %}

<div id="episode-track-button-{{ episode.item.id }}"
     {% if track_button_oob %}hx-swap-oob="true"{% endif %}>
  <button @click="trackOpen = true"
          title="Track Episode"
          class="p-2 {% if episode.history %}bg-indigo-600 hover:bg-indigo-700{% else %}bg-gray-600 hover:bg-gray-500{% endif %} text-white rounded-full transition duration-300 cursor-pointer">
    {% if episode.history %}
      {% include "app/icons/eye.svg" with classes="w-4 h-4" %}
    {% else %}
      {% include "app/icons/eye-closed.svg" with classes="w-4 h-4" %}
    {% endif %}
  </button>
</div>
